{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
What applications do you want to make?
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Make an application
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/application-submission/1-application" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="applications">

            <span class="govuk-caption-m">Type of application</span>
            <h1 class="govuk-heading-m">Time management</h1>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">


              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="strike-out" name="strike-out" type="checkbox" value="strike-out" data-aria-controls="strike-out">
                <label class="govuk-label govuk-checkboxes__label" for="strike-out">
                  Extend time
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  The claimant can ask to extend time to serve the claim on the defendant. The defendant can ask to extend time for filing a defence. 
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="strike-out" name="strike-out" type="checkbox" value="strike-out" data-aria-controls="strike-out">
                <label class="govuk-label govuk-checkboxes__label" for="strike-out">
                  Relief from sanctions
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  Ask the court for relief from a penalty or sanction the court imposed for failure to comply with something the court has told you to do. You must give evidence. 
                </div>
              </div>

                </div>

              </div>

          </fieldset>

          <div class="govuk-inset-text">
            To make an application not shown on this list, you'll need to submit a paper application to the court.
          </div>

          <!-- Buttons -->
          {% include "../../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
