{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
What applications do you want to make?
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Make an application
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/application-submission/1-application" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="applications">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                What type of applications do you want to make?
              </h2>
            </legend>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">


              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="strike-out" name="strike-out" type="checkbox" value="strike-out" data-aria-controls="strike-out">
                <label class="govuk-label govuk-checkboxes__label" for="strike-out">
                  Strike out
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="summary-judgment" name="summary-judgment" type="checkbox" value="summary-judgment" data-aria-controls="summary-judgment">
                <label class="govuk-label govuk-checkboxes__label" for="summary-judgment">
                  Summary judgment
                </label>
              </div>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="stay-claim" name="stay-claim" type="checkbox" value="stay-claim" data-aria-controls="stay-claim">
                  <label class="govuk-label govuk-checkboxes__label" for="stay-claim">
                    Stay the claim
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="extend-time" name="extend-time" type="checkbox" value="extend-time" data-aria-controls="extend-time">
                  <label class="govuk-label govuk-checkboxes__label" for="extend-time">
                    Extend time
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="extend-time" name="extend-time" type="checkbox" value="extend-time" data-aria-controls="extend-time">
                  <label class="govuk-label govuk-checkboxes__label" for="extend-time">
                    Amend the statement of case
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="extend-time" name="extend-time" type="checkbox" value="extend-time" data-aria-controls="extend-time">
                  <label class="govuk-label govuk-checkboxes__label" for="extend-time">
                    Relief from sanctions
                  </label>
                </div>

                </div>

              </div>

          </fieldset>

          <div class="govuk-inset-text">
            To make an application not shown on this list, you'll need to submit a paper application to the court.
          </div>

          <!-- Buttons -->
          {% include "../../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
