{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Has the Respondent agreed to the order that you want the judge to make?
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Make an application
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>

      <form class="form" action="/ocmc/general-applications/application-submission/2-respondent-agreement" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Has the respondent agreed to the order that you want the judge to make?
              </h2>
            </legend>
            <p>
              A judge will still need to approve this order
            </p>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="agreement" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="agreement" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
          </div>
        <!-- Buttons -->
        {% include "../../../includes/buttons.html" %}
        
      </form>
    </div>
  </div>

{% endblock %}
