{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Is this an urgent application?
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Make an application
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>

      <form class="form" action="/ocmc/general-applications/application-submission/3-urgent" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="urgent-application">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Is this an urgent application?
              </h2>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="urgent" type="radio" value="yes" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="date-urgent">
                    Enter the date by which this application must be considered by a judge
                  </label>

                  <div class="govuk-date-input" id="date-urgent">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="urgent-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="urgent-day" name="urgent-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="urgent-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="urgent-month" name="urgent-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="urgent-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="urgent-year" name="urgent-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                  </div>
                  <label class="govuk-label govuk-!-margin-top-6" for="reason-urgent">
                    Reasons for urgency. 
                  </label>
                  <div class="govuk-hint">Disclose all relevant information to the court, including any information that may undermine the need for urgency</div>

                  <textarea class="govuk-textarea" id="more-detail" name="reason-urgent" rows="5" aria-describedby="more-detail-hint"></textarea>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            I certify that use of the urgent procedure is justified and I know that the court may apply an adverse sanction in the event of inappropriate use of the urgent procedure.
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                </div>
                </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="urgent" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>


        <!-- Buttons -->
        {% include "../../../includes/buttons.html" %}


      </form>
    </div>
  </div>

{% endblock %}
