{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ocmc/general-applications/application-submission/4-inform-other-party">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/general-applications/application-submission/5-enter-order" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
                <h1 class="govuk-fieldset__heading">Make an application</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            

              <!-- what Order do you want the court to make? -->


                    <div class="govuk-form-group">
                      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label govuk-!-font-weight-bold" for="more-detail">
                          What Order do you want the court to make?
                        </label>
                      </h2>
                      <div id="more-detail-hint" class="govuk-hint">
                        This is the draft Order that you are requesting from Court.
                      </div>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>


              <!-- Reason for making this Order-->

              <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label govuk-!-font-weight-bold" for="more-detail">
                    Reason for making this Order
                  </label>
                </h2>

                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>

              <h2 class="govuk-body govuk govuk-!-font-weight-bold">Upload any evidence that supports your application (optional)</h2>

              <ul class="govuk-list govuk-list--bullet">
                <li>files must be no more than 100MB in size</li>
                <li>you can upload jpg, png, svg, gif, doc and PDF files</li>
                <li>before uploading a file, give it a meaningful name. For example claimnumber.document-type.doc</li>

              </ul>

              <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload-1">
                  Upload a file
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
              </div>

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Statement of truth
                </h1>
              </legend>
              <div id="Judges-hint" class="govuk-hint">
                I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of thruth without an honest belief in its truth.
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation">
                        I believe that the facts stated adove are true
                      </label>
                    </div>
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation">
                        The Applicant believes that the facts stated above are true. I am authorised by the applicant to sign this statement.
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  Name
                </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  Role
                </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>





          </fieldset>

          <!-- Buttons -->
          {% include "../../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
