{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ocmc/general-applications/application-submission/6-hearing-details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Pay for application with PBA</h1>

      <p class="govuk-body">
        Application fee to pay is &pound;108 [£275, if w/o notice]
      </p>
      <form class="form" action="/ocmc/general-applications/application-submission/7-account-number" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="pba-detail">
            Select your payment by account number (PBA)
          </label>
          <select class="govuk-select govuk-!-width-one-half" id="pba-detail" name="pba-detail">
            <option value="0" selected>Select PBA number</option>
            <option value="PBA8939704">PBA8939704</option>
            <option value="PBA5869704">PBA5869704</option>
            <option value="PBA1729704">PBA1729704</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="pba-ref">
            Enter a reference for your PBA account statements (optional)
          </label>
          <div id="pba-ref-hint" class="govuk-hint">
            This should be your own unique reference to identify the case. it will appear on your statements.
          </div>
          <input class="govuk-input" id="pba-ref" name="pba-ref" type="text" aria-describedby="pba-ref-hint">
        </div>

        {% include "../../../includes/buttons.html" %}        
      </form>
    </div>
  </div>

{% endblock %}
