{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ocmc/general-applications/application-submission/9-confirmation" method="post">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>#1522-0584-2506-7027</strong>
        </div>
      </div>

      <p>
        The Court will make a decision on [this application/ these applications]:
      </p>

      <ul class="govuk-list govuk-list--bullet">

        <li>Summary judgment</li>


      </ul>

      <p>You have marked this application as urgent.</p>
      <p>The other [party’s / parties’] legal representative has been notified [not been notified] that you have submitted this application.</p>
      <p><a href="/index.html">View claim event history</a></p>

    </form>
    </div>
  </div>


{% endblock %}
