{% extends "layout.html" %}

{% block pageTitle %}
  Check your documents
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Check your documents
      </h1>

         <h2 class="govuk-heading-m">Witness evidence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Witness statement
            </dt>
            <dd class="govuk-link govuk-summary-list__value">
              <a class="govuk-link" href="#">1_Witness_statement_Jane_Smith.pdf</a><hr>
              <a class="govuk-link" href="#">2_Witness_statement_Fred_Bloggs.pdf</a><hr>
              <a class="govuk-link" href="#">3_Witness_statement_Peter_Bloggs.pdf</a><hr>
              <a class="govuk-link" href="#">4_Witness_statement_Jane_Smith.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-documents-multi">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Witness summary
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">Witness_summary_Arthur_Pendragon.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-documents-single">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Documents referred to in the statement
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">Email_29May2019.rtf</a><hr>
              <a class="govuk-link" href="#">Email_2_June_2019.rtf</a><hr>
              <a class="govuk-link" href="#">Download_Of_Text_Message_ 23_June _2019.pdf</a><hr>
              <a class="govuk-link" href="#">Bank_Statement_June_2019.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        </dl>

         <h2 class="govuk-heading-m">Expert evidence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expert’s report
            </dt>
            <dd class="govuk-link govuk-summary-list__value">
              <a class="govuk-link" href="#">Expert_Report_Alex_Monroe.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Joint statement of experts
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">Experts_joint_statement_AlexMonroe_AmandaSinclair.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        </dl>

         <h2 class="govuk-heading-m">Hearing documents</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Authorities
            </dt>
            <dd class="govuk-link govuk-summary-list__value">
              <a class="govuk-link" href="#">Authorities_ForCase1234567.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Documentary evidence for the hearing
            </dt>
            <dd class="govuk-link govuk-summary-list__value">
              <a class="govuk-link" href="#">Photo_of_flooding.jpg</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        <form action="/form-handler" method="post" novalidate>

        

          {# <button class="govuk-button" type="submit" data-module="govuk-button">
            Continue
          </button> #}

          {{ govukButton({
            text: "Submit",
            href: "confirmation"
          }) }}
          

        </form>

        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong>Email</strong>
          <br>
          <a class="govuk-body" href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
          <br>
          <p class="govuk-body">We'll get back to you within 10 days.</p>

          <strong>Telephone</strong>
          <p class="govuk-body">0300 123 7050
            <br>
          Monday to Friday, 8.30am to 5pm
            <br>
          <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new window)</a>
          </p>
        </div>
      </details>
      
      </div>
    </div>

{% endblock %}
