{% extends "layout.html" %}

{% block pageTitle %}
  Select the type of document you want to upload
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Select the type of document you want to upload
      </h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You cannot withdraw a document once you have uploaded it
        </strong>
      </div>

      <div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Witness evidence</h2>

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Witness statement',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Witness's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date statement was made
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><hr>

      <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Witness summary',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Witness's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><hr>

       <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Documentary evidence',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br>

      <div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Expert evidence</h2>

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Expert’s report',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Expert's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Field of expertise
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date report was made
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><hr>

      <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Joint statement of experts',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}


      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Expert's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Field of expertise
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date statement was made
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
     
         {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br>

      <h2 class="govuk-heading-l">
        Trial documents
      </h2>

      <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Authorities',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
      
          {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><hr>

       <div data-module="moj-add-another">

  <form method="post">

    {# <h3 class="govuk-heading-m">
        Documentary evidence for trial
      </h3> #}

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Documentary evidence for trial',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word,  Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
      
          {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br><br>

      <a href="javascript: window.history.go(-1)" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Previous
            </a>

          {# <button class="govuk-button" type="submit" data-module="govuk-button">
            Continue
          </button> #}

          {{ govukButton({
            text: "Continue",
            href: "check-your-documents"
          }) }}
          
          <div class="govuk-form-group" > <a href="" class="govuk-body govuk-link" data-module="govuk-button">
            Cancel
           </a>
          </div>

    </div>
  </div>
{% endblock %}
