{% extends "layout.html" %}

{% block pageTitle %}
  Document uploaded
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Document uploaded</h1>
        {# <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div> #}
      </div>
    
    <p>You can continue uploading now or return later to upload documents.</p>

    {# <a class="govuk-body govuk-link govuk-link--no-visited-state" href="">Upload more documents</a> #}


  <!--    <p>
        We have sent you a confirmation email.
      </p> -->

  <!--    <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Hackney Electoral Register Office.</p>
      <p>They will contact you either to confirm your registration, or to ask for more information.</p> -->
      {# <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p> #}

      <br>

      {{ govukButton({
        text: "Return to case details",
        href: ""
      }) }}

    </div>
  </div>

{% endblock %}
