{% extends "layout.html" %}

{% block pageTitle %}
  What types of documents do you want to upload?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE ONLY
    </strong>
    <span class="govuk-phase-banner__text">
      Scenario: <a class="govuk-link" href="part-document-type">Show user selected checkboxes and related upload sections on the following screen</a>
    </span>
  </p>
</div>

  <a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What types of documents do you want to upload?
      </h1>

      <p class="govuk-body">
       Select the types of documents that apply to your case. You may not need to upload documents for every category 
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Disclosure
            </h1>
          </legend>
          {# <div id="waste-hint" class="govuk-hint">
            Documents you must show the other parties and a list of those documents
          </div> #}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
           <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Documents for disclosure
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Recorded information that you must show the other parties - for example, contracts, invoices, receipts, emails, text messages, photos, social media messages
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Disclosure list
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A list of the documents that you must show the other parties
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Witness evidence
            </h1>
          </legend>
          {# <div id="waste-hint" class="govuk-hint">
            Your statement if you are giving evidence, statement written by your witness, summary of evidence
          </div> #}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
             <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ws" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="ws">
                Your statement
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A written statement of what you want to tell the court
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ws" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="ws">
                Witness statement
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A written statement of what your witness wants to tell the court
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="wss" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="wss">
                Witness summary
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                If you cannot get a written statement from your witness, you can write a summary of the evidence you would want to include in the witness statement. You need permission from the court to use a witness summary at the hearing 
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="noi" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="noi">
                Notice of intention to rely on hearsay evidence
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Notice to tell the other parties that you intend to rely on hearsay evidence at the trial. If the evidence is in a witness statement and the witness is not going to be in court, you must say why
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="docref" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="docref">
                Documents referred to in the statement
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Documents you or your witness refer to in the statement, including emails, receipts, invoices, contracts and photos
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Expert evidence
            </h1>
          </legend>
          {# <div id="waste-hint" class="govuk-hint">
            Written evidence by your expert, joint statement by both parties’ experts
          </div> #}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="er" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="er">
                Expert's report
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A written report by your expert. Expert evidence is an opinion based on the expertise of a specialist, for example – a building surveyor who can comment on the quality of building work. An expert is not a legal representative 
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="js" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="js">
                Joint statement of experts
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A statement by the experts for both parties, setting out the facts in the case that they agree on or disagree on. This only applies if you and the other party set up a meeting for your experts. The experts write this statement after their discussion  
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="qs" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="qs">
                Questions for other party’s expert or joint expert
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Written questions about an expert's report or a joint statement of experts
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="as" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="as">
                Answers to questions asked by other party
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Your expert's answers to questions put by the other party
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Trial documents
            </h1>
          </legend>
          {# <div id="waste-hint" class="govuk-hint">
            Documents for your trial including case summary, skeleton argument and authorities
          </div> #}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="cs" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="cs">
                Case summary
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Overview of your whole case
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sa" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="sa">
                Skeleton argument
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Summary of the case, the areas in dispute and the reasons why you think those disputes should be resolved in your favour
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="au" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="au">
                Authorities
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Details of the case law, legislation or other legal precedent that you are going to rely on in court
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="costs" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="au">
                Costs
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                A detailed list of the costs you have incurred in making or defending the claim, for example photocopying, getting copies of contracts. Include receipts
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="docev" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="docev">
                Documentary evidence for trial
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Documents that you wish to rely on at the trial, including emails, receipts, invoices, contracts and photos. You do not need to add documents that you have already added under witness evidence
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      

          {# <button class="govuk-button" type="submit" data-module="govuk-button">
            Continue
          </button> #}

          {{ govukButton({
            text: "Save and continue",
            href: "upload-documents"
          }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong>Email</strong>
          <br>
          <a class="govuk-body" href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
          <br>
          <p class="govuk-body">We'll get back to you within 10 days.</p>

          <strong>Telephone</strong>
          <p class="govuk-body">0300 123 7050
            <br>
          Monday to Friday, 8.30am to 5pm
            <br>
          <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new window)</a>
          </p>
        </div>
      </details>
      
    </div>
  </div>
{% endblock %}
