{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}

      {%- from "govuk/components/button/macro.njk" import govukButton -%}
      {%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
      {%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
      {%- from "govuk/components/input/macro.njk" import govukInput -%}
      {%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Upload documents
      </h1>

      {# <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You cannot withdraw a document once you have submitted it
        </strong>
      </div> #}

<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Disclosure</h2>

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Disclosure list',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br>

      <div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1" id="we">Witness evidence</h2>

      <h3 class="govuk-heading-m">Witness statement
        <button class="govuk-button govuk-button--secondary" style="position:relative;left:330px;top:0px" data-module="govuk-button">
          Remove
        </button>
      </h3>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Witness's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text" value="Fred Smith">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date statement was written
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="28">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="11">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2022">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another
        </button>

    <br><hr>

    <h3 class="govuk-heading-m">Witness statement
        <button class="govuk-button govuk-button--secondary" style="position:relative;left:330px;top:0px" data-module="govuk-button">
          Remove
        </button>
      </h3>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Witness's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text" value="Peter Smith">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date statement was written
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="10">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="10">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2022">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another
        </button>

    <br><hr>

    <h3 class="govuk-heading-m">Witness statement
        <button class="govuk-button govuk-button--secondary" style="position:relative;left:330px;top:0px" data-module="govuk-button">
          Remove
        </button>
      </h3>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Witness's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text" value="Jane Smith">
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date statement was written
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 9 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="7">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="3">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2022">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another
        </button>

      <br><hr>

      <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Documents referred to in the statement',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Type of document
      </label>
      <div id="event-name-hint" class="govuk-hint">
        For example, contract, invoice, receipt, email, text message, photo, social media message
      </div>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "Date document was issued or message was sent"
          }
        },
        hint: {
          text: "For example, 12 9 2022"
        }
      }) }}

    <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

    
      <br><br>

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Expert evidence</h2>

      <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Answers to questions asked by other party',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Expert's name
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Other party's name
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="select" selected>Select</option>
          <option value="published">John Smith</option>
          <option value="views">Mary Smith</option>
          <option value="comments">Anne Smith</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Name of document with other party’s questions
        </label>
        <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
      
          {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br>

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Trial documents</h2>

            <div data-module="moj-add-another">

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Skeleton argument',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <div id="nationality-item-hint" class="govuk-hint">
          Each document must be less than 100MB. You can upload the following file types: Word, Excel, PowerPoint, PDF, RTF, TXT, CSV, JPG, JPEG, PNG, BMP, TIF, TIFF
        </div>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
      
          {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

  </form>

</div>

      <br><br><br>

          

          {{ govukButton({
            text: "Save and continue",
            href: "part-check-your-documents-3"
          }) }}

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong>Email</strong>
          <br>
          <a class="govuk-body" href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a>
          <br>
          <p class="govuk-body">We'll get back to you within 10 days.</p>

          <strong>Telephone</strong>
          <p class="govuk-body">0300 123 7050
            <br>
          Monday to Friday, 8.30am to 5pm
            <br>
          <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new window)</a>
          </p>
        </div>
      </details>

    </div>
  </div>
{% endblock %}
