{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Request default judgment statements
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/default-judgments/3-request-judgment-statements" method="post">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                Do all of these statements apply to the Defendant?
              </h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>
            <ul class="govuk-list govuk-list--bullet">
              <li>The time for responding to the claim has expired.</li>
              <li>The Defendant has not responded to the claim.</li>
              <li>There is no outstanding application by the Defendant to strike out the claim or for summary judgment.</li>
              <li>The Defendant has not satisfied the whole claim, including costs.</li>
              <li>The Defendant has not filed an admission together with request for time to pay.</li>
            </ul>
              <fieldset class="govuk-fieldset" aria-describedby="certify none of the statements apply">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="certify" name="certify" type="checkbox" value="certify-none-apply">
                    <label class="govuk-label govuk-checkboxes__label" for="certify none of the statements apply">
                      I certify that all of the above statements apply to the Defendant
                    </label>
                  </div>

          <!-- Buttons -->
          {% include "../includes/buttons.html" %}

      </div>
      </form>
    </div>
  </div>

{% endblock %}
