{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Repayment plan
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="6c-repaymen-plan" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">
                Suggest instalments for {{data['defendant']}}
              </h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>
            <!-- <div id="changed-name-hint" class="govuk-hint">
              A judge will still need to approve this order.
            </div> -->
            
            <p class="govuk-body">Total claim amount is {{data['claimTotalOwed']}}</p>

            <label class="govuk-label govuk-!-font-weight-bold" for="weight">
              Regular payments of 
            </label>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, £10
            </div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
            </div>

            <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-6" for="often-received-payments">
              How often do you want to receive payments?
            </label>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately">
                <label class="govuk-label govuk-radios__label" for="immediately">
                  Every week
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="by-set-date" name="how-to-pay" type="radio" value="By a set date">
                <label class="govuk-label govuk-radios__label" for="by a set date">
                  Every 2 weeks
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="repayment-plan" name="how-to-pay" type="radio" value="By repayment plan">
                <label class="govuk-label govuk-radios__label" for="by repayment plan">
                  Every month
                </label>
              </div>
            </div>
          </fieldset>
          <div class="govuk-button-group govuk-!-margin-top-6">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Previous
            </button>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
          <div class="govuk-button-group govuk-!-margin-top-0">
            <a href="" class="govuk-link govuk-link--no-visited-state">Cancel</a>
          </div>
      </div>
      </form>
    </div>
  </div>

{% endblock %}
