<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="ht-hint">
      <legend class="govuk-fieldset__legend">
        How do you want to list for a hearing?
      </legend>

      <div id="ht-hint" class="govuk-hint">
        Applicant prefers In person, Nottingham.  Respondent prefers telephone hearing.
      </div>

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hd-hearing-type-in-person" name="hd-hearing-type" type="radio" value="In person">
          <label class="govuk-label govuk-radios__label" for="hd-hearing-type-in-person">
            In person
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hd-hearing-type-video" name="hd-hearing-type" type="radio" value="Video">
          <label class="govuk-label govuk-radios__label" for="hd-hearing-type-video">
            Video conference hearing
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hd-hearing-type-telephone" name="hd-hearing-type" type="radio" value="Telephone">
          <label class="govuk-label govuk-radios__label" for="hd-hearing-type-telephone">
            Telephone hearing
          </label>
        </div>



      </div>
    </fieldset>
  </div>