{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Do you agree that the court should make the order that the applicant has requested?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-xl">Respond to application</h1>


      <form class="form" action="/ocmc/general-applications/Responce-journey/1-respond" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">
                Do you agree that the court should make the order that the applicant has requested?
              </h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="agreement" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="agreement" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
          </div>


        <!-- Buttons -->
        {% include "../../../includes/buttons.html" %}


      </form>
    </div>
  </div>

{% endblock %}
