{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back(/ocmc/general-applications/Responce-journey/2-hearing-details)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-width-three-quarters">Check your answers before sending your response</h1>

      <form class="form" action="/ocmc/general-applications/Responce-journey/3-check-answers" method="post">
          


      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Consent to application
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/ocmc/general-applications/Responce-journey/1-respond">
              Change
              <span class="govuk-visually-hidden"> Remain confidential</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Hearing requirements
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Hearing req</p>
            <p>Hearing req</p>
            <p>Hearing req</p>
            <p>Hearing req</p>
            <p>Hearing req</p>
            <p>Hearing req</p>
            <p>Hearing req</p>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/ocmc/general-applications/Responce-journey/2-hearing-details">
              Change
              <span class="govuk-visually-hidden"> Hearing requirements</span>
            </a>
          </dd>
        </div>



      </dl>


      <p class=" govuk-!-width-three-quarters">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


      <!-- Buttons Accept and send-->
      {% include "../../../includes/buttons.html" %}
      </form>

    </div>
  </div>
{% endblock %}
