{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back(/ocmc/general-applications/Responce-journey/2-hearing-details)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-width-three-quarters">Check your answers before sending your response</h1>

      <form class="form" action="/ocmc/general-applications/Responce-journey/3-check-answers" method="post">
          


      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Consent to application
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/ocmc/general-applications/Responce-journey/1-respond">
              Change
              <span class="govuk-visually-hidden"> Remain confidential</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Hearing details
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced">
              <li>
                <span class="govuk-!-font-weight-bold">Do you have a hearing scheduled?</span>
                <span class="block">No</span>
              </li>
              
            
            <li>
              <span class="govuk-!-font-weight-bold">Is your case reserved to a judge?</span>
              <span class="block">No</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Has the trial been fixed?</span>
              <span class="block">No</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Choose your preferred type of hearing</span>
              <span class="block">Telephone hearing; Joe Blogg</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Why would you prefer this type of hearing?</span>
              <span class="block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Preferred location</span>
              <span class="block">Nottingham County Court</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Preferred telephone number</span>
              <span class="block">020 123 88 9990</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Preferred email</span>
              <span class="block">joe@blogg.com</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">How long do you estimate the hearing will take?</span>
              <span class="block">30 minutes</span>
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">Are there any dates when you cannot attend a hearing within the next 3 months?</span>
              <span class="block">No</span>
            </li>
              <li>
                <span class="govuk-!-font-weight-bold">Support requirements (optional)</span>
                <span class="block">Sign language interpreter; BSL</span>
              </li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/ocmc/general-applications/application-submission/6-hearing-details">
              Change
              <span class="govuk-visually-hidden"> Hearing requirements</span>
            </a>
          </dd>
        </div>



      </dl>


      <p class=" govuk-!-width-three-quarters">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


      <!-- Buttons Accept and send-->
      {% include "../../../includes/buttons.html" %}
      </form>

    </div>
  </div>
{% endblock %}
