{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application response submited</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>#1522-0584-2506-7027</strong>
        </div>
      </div>

      <p>
        You have responded to the following application
      </p>

      <p>Amend a Defendant</p>
      <p>This will now be reviewed by a judge</p>
      <p><a href="/index.html">Respond to case overview</a></p>


    </div>
  </div>

{% endblock %}
