{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have responded to an application</h1>
      </div>

      <p>
        You have responded to the following application[s]: 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Summary judgment</li>
      </ul>

      <p>The application and your response will be reviewed by a Judge.</p>
      <p><a href="/index.html">View claim event history</a></p>


    </div>
  </div>

{% endblock %}
