{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Do you agree that the court should make the order that the applicant has requested?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-xl">Respond to application</h1>


      <form class="form" action="/ocmc/general-applications/Responce-journey/2-hearing-details" method="post">
        {% include "includes/hearing-details/hearing-scheduled.html" %}
        {% include "includes/hearing-details/reserved-to-judge.html" %}
        {% include "includes/hearing-details/trial-date.html" %}
        {% include "includes/hearing-details/hearing-type.html" %}
        {% include "includes/hearing-details/hearing-estimate.html" %}
        {% include "includes/hearing-details/unavailable-dates.html" %}
        {% include "includes/hearing-details/hearing-support.html" %}
        {% include "../../../includes/buttons.html" %}
      </form>
    </div>
  </div>

{% endblock %}
