{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
Do you agree that the court should make the order that the applicant has requested?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-xl">Respond to application</h1>


      <form class="form" action="/ocmc/general-applications/Responce-journey/2-hearing-details" method="post">

        <!-- Do you Have a hearing scheduled -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
          Do you have a hearing scheduled</h2>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hearing-id" name="hearing-name" type="radio" value="hearing-v" data-aria-controls="conditional-hearing">
            <label class="govuk-label govuk-radios__label" for="hearing-yes">
              Yes
            </label>
          </div>


          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hearing">
              <div id="dedution-input-hint" class="govuk-hint">
                What's the date of the hearing?
              </div>
              <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="time-estimate-hint">
                  <div class="govuk-date-input" id="time-estimate">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="time-estimate-day">
                          day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>

                    </div>

                </fieldset>
              </div>
            </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately">
            <label class="govuk-label govuk-radios__label" for="immediately">
              No
            </label>
          </div>
          </div>


          </fieldset>
        </div>

        <!-- Is your case reserved to a judge? -->

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">


        <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold govuk-!-margin-top-5">
          Is your case reserved to a judge?</h2>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="case-reserved-id" name="case-reserved" type="radio" value="case-reserved" data-aria-controls="conditional-case-reserved">
            <label class="govuk-label govuk-radios__label" for="case-reserved">
              Yes
            </label>
          </div>


          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-case-reserved">
            <div class="govuk-form-group">
              <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      Judge name
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text"></div>

                </fieldset>
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately">
            <label class="govuk-label govuk-radios__label" for="immediately">
              No
            </label>
          </div>
        </div>

        <!-- Do you know when the fixed trial will be? -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
          Do you know when the fixed trial will be?</h2>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hearing-id" name="hearing-name" type="radio" value="hearing-v" data-aria-controls="conditional-fixed-trial">
            <label class="govuk-label govuk-radios__label" for="hearing-yes">
              Yes
            </label>
          </div>


          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fixed-trial">
              <div id="dedution-input-hint" class="govuk-hint">
                What's the date of the hearing?
              </div>
              <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="time-estimate-hint">
                  <div class="govuk-date-input" id="time-estimate">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="time-estimate-day">
                          day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>

                    </div>

                </fieldset>
              </div>

              <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="fixed-trial-hint">
                  <div class="govuk-date-input" id="fixed-trial">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="fixed-trial-hint">
                          day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>

                    </div>

                </fieldset>
              </div>
            </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately">
            <label class="govuk-label govuk-radios__label" for="immediately">
              No
            </label>
          </div>

          </div>


          </fieldset>
        </div>

        <!-- Choose your preferred type of hearing -->

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold govuk-!-margin-top-5">
              Choose your preferred type of hearing</h2>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <div class="govuk-radios govuk-radios-">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="in-person-id" name="in-person" type="radio" value="in-person">
                    <label class="govuk-label govuk-radios__label" for="in-person">
                      In person
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Video-hearing-4" name="Video-conference" type="radio" value="Video conference hearing">
                    <label class="govuk-label govuk-radios__label" for="conference-hearing">
                      Video conference hearing
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Telephone-4" name="Telephone-hearing4" type="radio" value="Telephone hearing" data-aria-controls="conditional-Telephone-hearing">
                    <label class="govuk-label govuk-radios__label" for="Telephone-hearing-4">
                      Telephone hearing
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-Telephone-hearing">
                    <div class="govuk-form-group">

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                          Who will set up the telephone hearing?
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text"></div>
                      </div>


                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Video-hearing-4" name="Video-conference" type="radio" value="Video conference hearing">
                    <label class="govuk-label govuk-radios__label" for="conference-hearing">
                      Video conference hearing
                    </label>
                  </div>
                  </fieldset>
                </div>

              </fieldset>


          </div>

          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="more-detail">
              Why would you prefer this type of hearing
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
          </div>


        </div>
      

        <!-- Preferred location -->

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
          <div class="govuk-form-group">
            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold govuk-!-margin-top-5">
              Choose your preferred type of hearing</h2>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-margin-top-3" for="sort">
                  This is needed if the judge decides to hold the hearing in person.
                </label>
                <select class="govuk-select" id="sort" name="sort">
                  <option value="">Select location</option>
                  <option value="Kings-upon-Hull Combined Court Centre">Kings-upon-Hull Combined Court Centre</option>
                  <option value="">Select location</option>
                  <option value="">Select location</option>
                </select>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-5" for="event-name">
                  Preferred telephone number
                </label>
                <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-5" for="event-name">
                  Preferred email
                </label>
                <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
              </div>

            </div>
        </div>

        <!-- How long do you estimate the hearing will take -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label govuk-!-margin-top-3" for="sort">
              How long do you estimate the hearing will take
            </label>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Scotland
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Wales
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Northern Ireland
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <!-- Buttons -->
        {% include "../../../includes/buttons.html" %}


      </form>
    </div>
  </div>

{% endblock %}
