{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  When is the hearing?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="add-info" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When is the hearing?
      </h1>
    </legend>
  </fieldset>
</div>

<div>
<img src="/public/images/hmcts-date-picker.png" width="auto" height="400" alt="HMCTS date picker">
</div>

    <a class="govuk-body-s" href="https://hmcts-design-system.herokuapp.com/components/calendar-date-picker">Date picker from HMCTS Design System</a>

<br><br><br>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Date the hearing will take place</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Friday 15 November</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a></td>
    </tr>
  </tbody>
</table>

<br>

<p class="govuk-heading-m">
        Time the hearing will take place
      </p>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Start time
  </label>
  <select class="govuk-select govuk-!-width" id="sort" name="sort">
    <option value="updated" selected>15</option>
  </select>
  <select class="govuk-select govuk-!-width" id="sort" name="sort">
    <option value="updated" selected>00</option>
  </select>
</div>

<br>

      <p class="govuk-heading-l">
        Summary
      </p>

      <div class="govuk-inset-text">
        <p class="govuk-body">The hearing will take place on <strong>Friday 15 November at 15:00</strong></p>
        <p class="govuk-body">The venue for the hearing is <strong>Bristol County Court</strong></p>
      </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is this venue correct?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Where will the hearing be held?
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="updated" selected>Select a venue</option>
            <option value="published">Oxford County Court</option>
            <option value="views">Birmingham County Court</option>
            <option value="comments">Manchester County Court</option>
          </select>
        </div>

      </div>
      
    </div>

  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>

</div>
</div>

{% endblock %}

