{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/1-track" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">What track are you allocating the claim to?</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

            <p>Do you wish you to enter judgement for a sum of damages to be decided</p>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="immediately">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="dedution-input">
                    Enter deduction
                  </label>

                  <div id="dedution-input-hint" class="govuk-hint">
                    Enter a value between 1 and 99
                  </div>
                    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                        <div class="govuk-input__suffix" aria-hidden="true">%</div>
                    </div>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately">
                <label class="govuk-label govuk-radios__label" for="immediately">
                  No
                </label>
              </div>
            </div>



            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <p>what track are you allocating the claim to?</p>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immediately" name="how-to-pay" type="radio" value="Immediately" data-aria-controls="conditional-small">
                <label class="govuk-label govuk-radios__label" for="immediately">
                  Small claims track
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-small">
                <div class="govuk-form-group">
                  <div id="regular-payments-hint" class="govuk-hint">
                    Select additional directions, if any (Optional)
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="credit-hire-claim" name="claim-type" type="checkbox" value="credit-hire-claim">
                      <label class="govuk-label govuk-checkboxes__label" for="credit hire claim">
                        Credit hire claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="housing-disrepair" name="claim-type" type="checkbox" value="housing-disrepair">
                      <label class="govuk-label govuk-checkboxes__label" for="housing disrepair claim">
                        Road traffic accident claim
                      </label>
                    </div>

                  </div>

                </div>
                </div>
              </div>



              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="by-set-date" name="how-to-pay" type="radio" value="By a set date" data-aria-controls="conditional-date">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Fast track
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date">
                <div class="govuk-form-group">
                  <div id="regular-payments-hint" class="govuk-hint">
                    Select the type of claims that you're allocating to fast track
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="personal-injury" name="claim-type" type="checkbox" value="personal-injury">
                      <label class="govuk-label govuk-checkboxes__label" for="personal injury claim">
                        Personal injury claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="road-traffic-accident" name="claim-type" type="checkbox" value="road-traffic-accident">
                      <label class="govuk-label govuk-checkboxes__label" for="road traffic accident claim">
                        Road traffic accident claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="credit-hire-claim" name="claim-type" type="checkbox" value="credit-hire-claim">
                      <label class="govuk-label govuk-checkboxes__label" for="credit hire claim">
                        Credit hire claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="housing-disrepair" name="claim-type" type="checkbox" value="housing-disrepair">
                      <label class="govuk-label govuk-checkboxes__label" for="housing disrepair claim">
                        Road traffic accident claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="building-dispute" name="claim-type" type="checkbox" value="building-dispute">
                      <label class="govuk-label govuk-checkboxes__label" for="building dispute claim">
                        Building dispute claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="noise-induced" name="claim-type" type="checkbox" value="noise-induced">
                      <label class="govuk-label govuk-checkboxes__label" for="noise induced hearing loss claim">
                        Noise induced hearing loss claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="clinical-negligence" name="claim-type" type="checkbox" value="clinical-negligence">
                      <label class="govuk-label govuk-checkboxes__label" for="clinical negligence claim">
                        Clinical negligence claim
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="accident-at-work" name="claim-type" type="checkbox" value="accident-at-work">
                      <label class="govuk-label govuk-checkboxes__label" for="accident at work claim">
                        Accident at work claim
                      </label>
                    </div>

                  </div>



                </div>

              </div>


          </fieldset>
  </div>
          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

      </form>
    </div>
  </div>

{% endblock %}
