{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/2-track-selection" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <!-- <span class="govuk-caption-m">#1522-0584-2506-7027</span>
           <h1 class="govuk-fieldset__heading">Directions Order</h1> -->
           <h1 class="govuk-fieldset__heading">What track do you want to allocate the claim to?</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <!-- <label class="govuk-label govuk-body govuk-!-margin-top-4" for="dedution-input">
                what track are you allocating the claim to?
              </label> -->

              <div class="govuk-radios__item govuk-body govuk-!-margin-top-4">
                <input class="govuk-radios__input" id="small-claims-track" name="claims-track" type="radio" value="Small-claims-track" data-aria-controls="conditional-small">
                <label class="govuk-label govuk-radios__label" for="claims-track">
                  Small claims track
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-small">
                <div class="govuk-form-group">
                  <div id="regular-payments-hint" class="govuk-hint">
                    Select additional directions, if any (Optional)
                  </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="credit-hire-id" name="credit-hire-typee" type="checkbox" value="credit-hire">
                          <label class="govuk-label govuk-checkboxes__label" for="credit-hire">
                            Credit Hire
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="Road-Trafic-Accident-id" name="Road-Trafic-Accident-type" type="checkbox" value="Road-Trafic-Accident">
                          <label class="govuk-label govuk-checkboxes__label" for="Road Trafic Accident">
                            Road Trafic Accident
                          </label>
                        </div>

                      </div>

                  </div>
                </div>



              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="by-set-date" name="claims-track" type="radio" value="fast-track" data-aria-controls="conditional-date">
                <label class="govuk-label govuk-radios__label" for="claims-trackt-2">
                  Fast track
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date">
                <div class="govuk-form-group">
                  <div id="regular-payments-hint" class="govuk-hint">
                    Select additional directions
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="building-dispute" name="building-dispute-type" type="checkbox" value="building-dispute">
                      <label class="govuk-label govuk-checkboxes__label" for="building dispute claim">
                        Building dispute
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Clinical-Negligence-id" name="Clinical Negligence-type" type="checkbox" value="Clinical-Negligencek">
                      <label class="govuk-label govuk-checkboxes__label" for="Clinical Negligence">
                        Clinical Negligence
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="credit-hire-id" name="claim-type" type="checkbox" value="credit-hire-claim">
                      <label class="govuk-label govuk-checkboxes__label" for="credit hire claim">
                        Credit hire
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Employers-Liability-id" name="Employers-Liability-type" type="checkbox" value="Employers-Liability">
                      <label class="govuk-label govuk-checkboxes__label" for="Employers Liability">
                        Employers Liability
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Housing-Disrepair-id" name="Housing-Disrepair-type" type="checkbox" value="Housing-Disrepair">
                      <label class="govuk-label govuk-checkboxes__label" for="Housing Disrepair">
                        Housing Disrepair
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Personal-Injury-id" name="Personal-Injury-type" type="checkbox" value="Personal-Injury">
                      <label class="govuk-label govuk-checkboxes__label" for="Personal Injury">
                        Personal Injury
                      </label>
                    </div>


                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Road-traffic-accident-id" name="Road-traffic-accident-type" type="checkbox" value="Road-traffic-accident">
                      <label class="govuk-label govuk-checkboxes__label" for="Road traffic accident">
                        Road traffic accident
                      </label>
                    </div>


                  </div>



                </div>

              </div>
            </div>

          </fieldset>
        </div>
          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

      </form>
    </div>
  </div>

{% endblock %}
