{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ocmc/standard-directions-orders/1-track">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/2a-Generate-Directions-Order" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">Generate Directions Order</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            <h2 class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Confirm Directions Order</h2>

              <h2 class="govuk-body govuk govuk-!-font-weight-bold">Allocation</h2>

                <p>The claim is allocated to the fast track.</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Road Traffic Accident</li>

              </ul>


              <!-- Judge's recital-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Judge's recital</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Before District Judge Jane Smith at Kingston-upon-Hull Combined Court Centre, the court has considered the statements of case and the directions questionnaires IT IS ORDERED THAT.....</textarea>
                </div>

              </div>

              <!-- Alternative dispute resolution-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                        <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                          <div class="govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                              Alternative dispute resolution</h2>
                          </div>
                          <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                            <!-- Buttons -->
                            {% include "../../includes/buttons-remove.html" %}

                          </div>
                        </div>


                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">At all stages the parties must consider setting this litigation by any means of Alternative dispute resolution (including Type another letter into this field after this message to see the threshold feature)</textarea>
                </div>

              </div>

              <!-- Variations of directions-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Variations of directions</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="8" aria-describedby="word-count-info">The Parties may, by prior agreement in writing, extend time for a direction in this order by up to 28 days and withour the need to apply to court. Beyond that 28 day period any agreed extensions of time must be submited to the court by email including a brief explanation of the reasons, confirmation that it will not prejudice any hearing date and with the draft Consent Order in Word format. The Court will consider whether a formal application and hearing is necessary.</textarea>
                </div>

              </div>

              <!-- Settlement-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Settlement</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Each party must inform the Court immediately if the case is settled whether or not it is then possible to file a draft consent order to give effect their agreement.</textarea>
                </div>

              </div>

              <!-- Disclosure of documents-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Disclosure of documents</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Each party shall give to every other party disclosure of documents by way of standard disclosure.</textarea>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <div id="changed-name-hint" class="govuk-hint">
                          Select additional directions
                        </div>
                        <div class="govuk-radios govuk-radios-">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                              Documents related to damages
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                              Documents related to specific issues
                            </label>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group">
                        <div id="changed-name-hint" class="govuk-hint">
                          Document date 1
                        </div>

                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">List of documents by 4pm on</textarea>
                      </div>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                        <div id="changed-name-hint" class="govuk-hint">
                          Document date 2
                        </div>

                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">List of documents by 4pm on</textarea>
                      </div>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                        <div id="changed-name-hint" class="govuk-hint">
                          Document date 3
                        </div>

                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">List of documents by 4pm on</textarea>
                      </div>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

            </div>
          </div>


              <!-- Witness of fact-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Witness of fact</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Each party serve on every other party the witnesses of fact on whom he intends to repl. Witnessess limited as follows:-</textarea>
                </div>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <div class="govuk-radios govuk-radios-">
                    <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="Witness-number-hint">

                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="same-number-of-witnesses-id" name="same-number-of-witnesses" type="radio" value="same-number" data-aria-controls="conditional-same-number">
                      <label class="govuk-label govuk-radios__label" for="same-number-of-witnesses">
                        Each party will have the same number of witnesses
                      </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-same-number">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="dedution-input">
                          Number of witnesses permitted
                        </label>

                          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text">
                          </div>
                      </div>
                    </div>


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="different-number-of-witnesses-id" name="different-number-of-witnesses" type="radio" value="no"  data-aria-controls="conditional-no">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Each party will have a different number of witnesses
                      </label>

                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no">
                        <div class="govuk-form-group">

                          <label class="govuk-label" for="dedution-input">
                            Caimant
                          </label>
                            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text"">
                            </div>

                            <label class="govuk-label" for="dedution-input">
                              Defendant
                            </label>
                              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text"">
                              </div>

                              <label class="govuk-label" for="dedution-input">
                                Other parties
                              </label>
                                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text"">
                                </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                </fieldset>
                    </div>
                  </div>
                </fieldset>
                </div>


              <!-- Statement exchange dates-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Statement exchange dates</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">There shall be simuitaneous exchange of such statements by 4pm on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-6">
                      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <div class="govuk-radios govuk-radios-">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                              There shall be sequential service of witness statements
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                              Oral evidence will not be permitted at trial
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                  </div>
                </div>

              <!-- Schedules of loss-->

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                  <div class="govuk-form-group">
                    <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                      Schedules of loss</h2>

                      <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        Claimant
                      </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The Claimant shall serve an updated schedule of loss on the defendant(s) by 4pm on</textarea>

                      <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                          </div>

                        </fieldset>
                      </div>

                      <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        Defendant(s)
                      </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The Claimant shall serve an updated schedule of loss on the defendant(s) by 4pm on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-6" id="word-count" name="word-count" rows="7" aria-describedby="word-count-info">If there is a claim for future pecuniary loss and the parties have not already set out their case on periodical payments, then they must do so in the respective schedule and counter-schedule. Upon it being noted that the schedule of loss contains no claim for continuing loss and is therefore final, no futher schedule of loss shall be served without permission to amend. The Defendant shall file a counter schedule os loss by 4pm on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                </div>
              </div>

              <!-- Pre-trial check list-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Pre-trial check list</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Each party must file a completed pre-trial check list (listing questionnaire), and any associated application(s), by 4pm on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

              </div>
            </div>

              <!-- cost-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Cost</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Costs in the case</textarea>

              </div>
            </div>

              <!--Claim type-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Claim type</h2>

                    <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        Road Traffic Accident
                    </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>

              </div>
            </div>

              <!--Trial-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Trial</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="6" aria-describedby="word-count-info">Not more than seven nor less than three clear days before the trial, the Claimant must file at court and serve an indexed and paginated bundle of documents which complies with the requirements of Rule 39.5 Civil Procedure Rules and Practice  Direction 39A. The parties must endeavour to agree the contents of the bundle before it is filed. The  undle will include a case summary and a chronology.
                  </textarea>

              </div>
            </div>

            <!-- Trial window and time estimate-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Trial window and time estimate</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">(subject to change depending on track alloation) The trial of this case will take place in a window starting on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="3" aria-describedby="word-count-info">The time provisionally allowed for the trial. If either party considers that the time estimate is insufficient, they must inform the court within 7 days of the date of this Order</textarea>

                      <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                          </div>

                        </fieldset>
                      </div>

              </div>
            </div>

              <!-- Hearing method-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Hearing method</h2>

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <div class="govuk-radios govuk-radios-">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="in-person-id" name="in-person" type="radio" value="in-person" data-aria-controls="conditional-In-person">
                          <label class="govuk-label govuk-radios__label" for="in-person">
                            In person
                          </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-In-person">
                          <div class="govuk-form-group">

                            <div class="govuk-form-group">
                              <label class="govuk-label" for="sort">
                                Hearing location
                              </label>
                              <select class="govuk-select" id="sort" name="sort">
                                <option value="">Select a value</option>
                                <option value="Kings-upon-Hull Combined Court Centre">Kings-upon-Hull Combined Court Centre</option>
                                <option value="">Select a value</option>
                                <option value="">Select a value</option>
                              </select>
                            </div>


                          </div>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Video-hearing-4" name="Video-conference" type="radio" value="Video conference hearing">
                          <label class="govuk-label govuk-radios__label" for="conference-hearing">
                            Video conference hearing
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Telephone-4" name="Telephone-hearing4" type="radio" value="Telephone hearing">
                          <label class="govuk-label govuk-radios__label" for="Telephone-hearing-4">
                            Telephone hearing
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                </div>
              </div>
              </div>

              <!--Application to set aside,varied or stayed-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Application to set aside,varied or stayed</h2>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Because this Order has been made without a hearing, the parties have the order set aside, varied or stayed. A party making such an application must send or deliver the application to the court (together with any appropriate fee) to arrive within seven days of service of this Order</textarea>

              </div>
            </div>

            <!--Additional directions-->

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
              <div class="govuk-form-group">
                <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                  Additional directions</h2>

                <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="6" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </textarea>

            </div>
          </div>




          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
