{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/1-track" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">Preview Directions Order</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Open Directions Order</p>

            <p><a href="3-request-judgment-statements.html">standardDirectionsOrder_judge_DATE (Opens in a new tab)</a> </p>

          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
