{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your order has been issued</h1>
        <div class="govuk-panel__body">
          Case number<br><strong>#1522-0584-2506-7027</strong>
        </div>
      </div>

      <p>
        The Directions Order has been sent to:
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Claimant 1</p>

      <label class="govuk-label" for="dedution-input">
        Curtis Williams
      </label>

      <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Defendant 1</p>

      <label class="govuk-label" for="dedution-input">
        Roger White
      </label>

      <p>The other party has also been notified.</p>

     <!--<h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Hackney Electoral Register Office.</p>
      <!--<p>They will contact you either to confirm your registration, or to ask for more information.</p> -->
      <p><a href="/index.html">Return to case overview</a></p>


    </div>
  </div>

{% endblock %}
