{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/2a-Generate-Directions-Order" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <!-- <span class="govuk-caption-m">#1522-0584-2506-7027</span> -->
                <h1 class="govuk-fieldset__heading">Draw directions order - Judge</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>

            <h2 class="govuk-body govuk-!-margin-bottom-6 govuk-!-font-weight-bold">John Smith Vs Mrs. Rose Smith</h2>

            <legend class="govuk-fieldset__legend">
              <h2 class="govuk-fieldset govuk-!-margin-bottom-5">
                Order details
              </h2>
            </legend>


              <!-- Judge's recital-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Judge's recital</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">DJ Pema has considered the statements of case, the directions and draft order <br> IT IS ORDERED THAT.....</textarea>
                </div>

              </div>


              <!-- Allocation-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                        <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                          <div class="govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                              Allocation</h2>
                          </div>
                          <div class="govuk-grid-column-two-third-from-desktop">
                            <!-- Buttons -->
                            {% include "../../includes/buttons-remove.html" %}

                          </div>
                        </div>


                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">The claim is allocated to the Fast track</textarea>
                </div>

              </div>

              <!-- Alternative dispute resolution-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                        <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                          <div class="govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                              Alternative dispute resolution</h2>
                          </div>
                          <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                            <!-- Buttons -->
                            {% include "../../includes/buttons-remove.html" %}

                          </div>
                        </div>


                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="7" aria-describedby="word-count-info">At all stages the parties must consider settling this litigation by any means of Alternative Dispute Resolution (including round table conferences, early neutral evaluation, mediation and arbitration); any party not engaging in any such means proposed by another must serve a witness statement giving reasons within 21 days of receipt of that proposal. That witness statement must not be shown to the trial judge until questions of costs arise).</textarea>
                </div>

              </div>

              <!-- Variations of directions-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                        Variations of directions</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="8" aria-describedby="word-count-info">The Parties may, by prior agreement in writing, extend time for a direction in this order by up to 28 days and without the need to apply to Court.   Beyond that 28 day period any agreed extensions of time must be submitted to the Court by email including a brief explanation of the reasons, confirmation that it will not prejudice any hearing date and with the draft Consent Order in Word format.  The Court will then consider whether a formal application and hearing is necessary.</textarea>
                </div>

              </div>

              <!-- Settlement-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                        Settlement</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Each party must inform the Court immediately if the case is settled whether or not it is then possible to file a draft consent order to give effect to their agreement.</textarea>
                </div>

              </div>

              <!-- Disclosure of documents-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Disclosure of documents</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">By serving a list with a disclosure statement by 4.00 pm on</textarea>


                  <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group">

                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Any request to inspect or for a copy of a document shall be made by 4.00 pm on </textarea>
                      </div>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">and complied with within 7 days of receipt of the request.</textarea>
                      </div>

                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group govuk-body govuk-!-margin-top-5">


                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Each party must serve and file with the court a list of issues relevant to the search for and disclosure of electronically stored documents, or must confirm there are no such issues, following  Civil Procedure Rule Practice Direction 31B.</textarea>
                      </div>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                      <div class="govuk-form-group govuk-body govuk-!-margin-top-5">

                        <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">By 4pm on</textarea>
                      </div>
                    </div>


                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>


            </div>
          </div>


              <!-- Witness of fact-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Witness of fact</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Each party shall serve on every other party the witness statements of all witnesses of fact on whom he intends to rely</textarea>
                </div>
              </div>

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">All statements to be no more than </textarea>
                </div>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="dedution-input">
                  Number of pages
                </label>

                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text">
                  </div>
              </div>

              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">pages long, A4, double spaced and in font size 12.</textarea>

              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">There shall be simultaneous exchange of such statements by 4.00 pm on</textarea>


                <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                    </div>

                  </fieldset>
                </div>

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="3" aria-describedby="word-count-info">Oral evidence will not be permitted at trial from a witness whose statement has not been served in accordance with this order or has been served late, except with permission from the Court.</textarea>
                  </div>
                </div>



              <!-- Schedules of loss-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                  <div class="govuk-form-group">

                    <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                      <div class="govuk-grid-column-two-thirds-from-desktop">
                        <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                           Schedules of loss</h2>
                      </div>
                      <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                        <!-- Buttons -->
                        {% include "../../includes/buttons-remove.html" %}

                      </div>
                    </div>

                      <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        Claimant
                      </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The Claimant shall serve an updated schedule of loss on the defendant(s) by 4.00 pm on</textarea>

                      <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                          </div>

                        </fieldset>
                      </div>

                      <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        Defendant(s)
                      </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The Defendant(s) shall serve a counter schedule on the Claimant by 4.00 pm on</textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-6" id="word-count" name="word-count" rows="3" aria-describedby="word-count-info">If there is a claim for future pecuniary loss and the parties have not already set out their case on periodical payments, then they must do so in the respective schedule and counter-schedule.</textarea>


                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-6" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Upon it being noted that the schedule of loss contains no claim for continuing loss and is therefore final, no further schedule of loss shall be served without permission to amend. The Defendant shall file a counter-schedule of loss by 4.00 pm on </textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-5">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

                </div>
              </div>

              <!-- Pre-trial check lists (Listing Questionnaires)-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Pre-trial check lists (Listing Questionnaires)</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">Each party must file a completed pre-trial check list (listing questionnaire), and any associated application(s), by 4:00 pm on </textarea>

                    <div class="govuk-form-group govuk-body govuk-!-margin-top-4">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Hours">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-Minutes">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>

                      </fieldset>
                    </div>

              </div>
            </div>

              <!-- cost-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Cost</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">Costs in the case</textarea>

              </div>
            </div>


              <!--Trial-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Trial</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">The time provisionally allowed for the trial is
                  </textarea>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">If either party considers that the time estimate is insufficient, they must inform the court within 7 days of the date of this Order.</textarea>

              </div>
            </div>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
              <div class="govuk-form-group">

                <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="6" aria-describedby="word-count-info">Not more than seven nor less than three clear days before the trial, the Claimant must file at court and serve an indexed and paginated bundle of documents which complies with the requirements of Rule 39.5 Civil Procedure Rules and Practice Direction 39A.   The parties must endeavour to agree the contents of the bundle before it is filed.  The bundle will include a case summary and a chronology.</textarea>

            </div>
          </div>


              <!-- Hearing method-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Hearing method</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <div class="govuk-radios govuk-radios-">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="in-person-id" name="Hearing-location" type="radio" value="in-person" data-aria-controls="conditional-In-person">
                          <label class="govuk-label govuk-radios__label" for="in-person">
                            In person
                          </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-In-person">
                          <div class="govuk-form-group">

                            <div class="govuk-form-group">
                              <label class="govuk-label" for="sort">
                                Hearing location
                              </label>
                              <select class="govuk-select" id="sort" name="sort">
                                <option value="">Select a value</option>
                                <option value="Kings-upon-Hull Combined Court Centre">Kings-upon-Hull Combined Court Centre</option>
                                <option value="">Select a value</option>
                                <option value="">Select a value</option>
                              </select>
                            </div>


                          </div>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Video-hearing-4" name="Hearing-location" type="radio" value="Video conference hearing">
                          <label class="govuk-label govuk-radios__label" for="conference-hearing">
                            Video conference hearing
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Telephone-4" name="Hearing-location" type="radio" value="Telephone hearing">
                          <label class="govuk-label govuk-radios__label" for="Telephone-hearing-4">
                            Telephone hearing
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                </div>
              </div>
              </div>

              <!--Additional directions-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend">
                    <h2 class="govuk-fieldset govuk-!-margin-bottom-5">
                      Additional directions
                    </h2>
                  </legend>
                  <h3 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Type of claim</h3>

                    <p>{{ data['fast-track']['claim-type'] }}</p>

                    {% if data['fast-track']['claim-type'] === 'building-dispute' %}

                    <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        building-dispute
                    </div>

                    {% endif %}

                    {% if (data['fast-track']['claim-type'] === 'Clinical-Negligence') %}

                    <div id="changed-name-hint" class="govuk-hint govuk-body govuk-!-margin-top-6">
                        building-dispute
                    </div>

                    {% endif %}

              </div>
            </div>

            <!--Additional directions-->

            <!-- SECTION BREAK-->
            {% include "./includes/section-break.html" %}
            <!-- SECTION BREAK-->

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
              <div class="govuk-form-group">

                <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                  <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                       Additional directions</h2>
                  </div>
                  <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                    <!-- Buttons -->
                    {% include "../../includes/buttons-remove.html" %}

                  </div>
                </div>

                <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

            </div>
          </div>


          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
            <div class="govuk-form-group">

              <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                     Additional directions</h2>
                </div>
                <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                  <!-- Buttons -->
                  {% include "../../includes/buttons-remove.html" %}

                </div>
              </div>

              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

          </div>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
          <div class="govuk-form-group">

            <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
              <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                   Additional directions</h2>
              </div>
              <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                <!-- Buttons -->
                {% include "../../includes/buttons-remove.html" %}

              </div>
            </div>

            <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

        </div>
      </div>

      <!--Additional directions-->

      {% if (data['building-dispute-type'] === 'building-dispute') %}

      {% else %}


      <!-- SECTION BREAK-->
      {% include "./includes/section-break.html" %}
      <!-- SECTION BREAK-->

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
        <div class="govuk-form-group">

          <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="6" aria-describedby="word-count-info">NOTE: As this Order has been made without a hearing, the parties have the right to apply to have the Order set aside, varied or stayed. A party making such and application must send or deliver the application to the Court (together with any appropriate fee) to arrive within 7 days of this Order.</textarea>

      </div>
    </div>

    {% endif %}

          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
