{% extends "layout-judicial-case.html" %}

{% block pageTitle %}
  How do you want the Defendant to pay?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/standard-directions-orders/2a-Generate-Directions-Order" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <!-- <span class="govuk-caption-m">#1522-0584-2506-7027</span> -->
                <h1 class="govuk-fieldset__heading">Draw directions order - judge</h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
          </legend>

            <h2 class="govuk-body govuk-!-margin-bottom-6 govuk-!-font-weight-bold">John Smith Vs Mrs. Rose Smith</h2>

            <legend class="govuk-fieldset__legend">
              <h2 class="govuk-fieldset govuk-!-margin-bottom-5">
                Order details
              </h2>
            </legend>



            <!-- warning message-->

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
              <div class="govuk-form-group">


                <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Warning:  you must comply with the terms imposed upon you by this order: otherwise your case is liable to be struck out or some other sanction imposed. If you cannot comply you are expected to make formal application to the court before any deadline imposed upon you expires.</textarea>
              </div>

              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">The parties are encouraged to try to settle the case by negotiation.  You may also contact the Small Claims Mediation Service to arrange a mediation appointment. The service is free and it can be contacted on 01604 795511. </textarea>
            </div>

            </div>



              <!-- Judge's recital-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Judge's recital</h2>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">DJ Pema has considered the statements of case and the directions questions
                                                                                                                                                                                          IT IS ORDERED THAT.....</textarea>
                </div>

              </div>


              <!-- Allocation-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                        <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                          <div class="govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                              Allocation</h2>
                          </div>
                          <div class="govuk-grid-column-two-third-from-desktop">
                            <!-- Buttons -->
                            {% include "../../includes/buttons-remove.html" %}

                          </div>
                        </div>


                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="1" aria-describedby="word-count-info">The claim is allocated to the Small Claims track.</textarea>
                </div>

              </div>

              <!--Hearing-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Hearing</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The hearing of the claim will be on a date to be notified to you by a separate notification.  The hearing will have a time estimate of                  </textarea>

                  <div class="govuk-inset-text">
                    Please note: Placeholder for time allocation pattern - to be aligned with automated List Assist service integration
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">The Claimant must by no later than 14 days before the hearing date, pay the court the required hearing fee  or submit a fully completed application for Help with Fees. If the Claimant fails to pay the fee or obtain a fee exemption by that time the claim will be struck without further order .</textarea>

              </div>
            </div>


              <!-- Hearing method-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Hearing method</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <div class="govuk-radios govuk-radios-">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="in-person-id" name="Hearing-location" type="radio" value="in-person" data-aria-controls="conditional-In-person">
                          <label class="govuk-label govuk-radios__label" for="in-person">
                            In person
                          </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-In-person">
                          <div class="govuk-form-group">

                            <div class="govuk-form-group">
                              <label class="govuk-label" for="sort">
                                Hearing location
                              </label>
                              <select class="govuk-select" id="sort" name="sort">
                                <option value="">Select a value</option>
                                <option value="Kings-upon-Hull Combined Court Centre">Kings-upon-Hull Combined Court Centre</option>
                                <option value="">Select a value</option>
                                <option value="">Select a value</option>
                              </select>
                            </div>


                          </div>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Video-hearing-4" name="Hearing-location" type="radio" value="Video conference hearing">
                          <label class="govuk-label govuk-radios__label" for="conference-hearing">
                            Video conference hearing
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="Telephone-4" name="Hearing-location" type="radio" value="Telephone hearing">
                          <label class="govuk-label govuk-radios__label" for="Telephone-hearing-4">
                            Telephone hearing
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                </div>
              </div>
              </div>


              <!-- Documents-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                        <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                          <div class="govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                              Documents</h2>
                          </div>
                          <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                            <!-- Buttons -->
                            {% include "../../includes/buttons-remove.html" %}

                          </div>
                        </div>


                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Each party must send to the other party(ies) and to the court office to be received not less than 14 days before the hearing, copies of all documents which they wish the court to consider when reaching its decision.

                  </textarea>

                  <textarea class="govuk-textarea govuk-js-character-count " id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">The court may refuse to consider any document which has not been sent to the other party/ies and the court as set out above.</textarea>
                </div>

              </div>

              <!-- Witness statement-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                         Witness statement</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>

                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">Each party must send to the other party(ies) and to the court office to be received not less than 14 days before the hearing, copies of the statements of any witness (including themselves) upon whose evidence they intend to rely at the hearing. This is limited to </textarea>
                </div>
              </div>


              <div class="govuk-form-group">
                <label class="govuk-label" for="dedution-input">
                  Number of witnesses (Claimant)
                </label>

                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text">
                  </div>
              </div>

              <!-- <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">witnesses for the claimant and</textarea>-->
              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-5" id="word-count" name="word-count" rows="2" aria-describedby="word-count-info">For this limitation, a party is counted as a witness.</textarea>

              <div class="govuk-form-group">
                <label class="govuk-label" for="dedution-input">
                  Number of witnesses (Defendant)
                </label>

                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text">
                  </div>
              </div>



                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="9" aria-describedby="word-count-info">A witness statement must:
a)	Start with the name of the case and the claim number;
b)	State the full name and address of the witness;
c)	Set out the witness's evidence clearly in numbered paragraphs on numbered pages;
d)	End with this paragraph:  ' ‘I believe that the facts stated in this witness statement are true. I understand that proceedings     for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.’
e)	be signed by the witness and dated.
f)	If a witness is unable to read the statement there must be a certificate that it has been read or interpreted to the witness by a suitably qualified person and at the final hearing there must be an independent interpreter who will not be provided by the Court.
</textarea>

<textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">The judge may refuse to allow a witness to give evidence or consider any statement of any witness whose statement has not been sent to the court and the other party/ies in accordance with the paragraphs above.
</textarea>

<textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="4" aria-describedby="word-count-info">A witness whose statement is sent in accordance with the above must attend the hearing. If they do not attend, it will be for the court to decide how much reliance, if any, to place on their evidence. </textarea>
                  </div>
                </div>






              <!-- Note-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                      <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                        Note</h2>
                    </div>
                    <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                      <!-- Buttons -->
                      {% include "../../includes/buttons-remove.html" %}

                    </div>
                  </div>


                  <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-4" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">As this Order has been made without a hearing, the parties have the right to apply to have the Order set aside, varied or stayed. A party making such and application must send or deliver the application to the Court (together with any appropriate fee) to arrive within 7 days of this Order.</textarea>
                </div>

              </div>


              <!--Additional directions-->

              <!-- SECTION BREAK-->
              {% include "./includes/section-break.html" %}
              <!-- SECTION BREAK-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
                <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend">
                    <h2 class="govuk-fieldset govuk-!-margin-bottom-5">
                      Additional directions
                    </h2>
                  </legend>
                  <h3 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                    Type of claim</h3>

                    <p>{{ data['Small-claims-track']['small-type'] }}</p>

              </div>
            </div>

            <!--Additional directions-->

            <!-- SECTION BREAK-->
            {% include "./includes/section-break.html" %}
            <!-- SECTION BREAK-->

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
              <div class="govuk-form-group">

                <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                  <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                       Additional directions</h2>
                  </div>
                  <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                    <!-- Buttons -->
                    {% include "../../includes/buttons-remove.html" %}

                  </div>
                </div>

                <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

            </div>
          </div>


          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
            <div class="govuk-form-group">

              <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                  <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                     Additional directions</h2>
                </div>
                <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                  <!-- Buttons -->
                  {% include "../../includes/buttons-remove.html" %}

                </div>
              </div>

              <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

          </div>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="112" data-threshold="75">
          <div class="govuk-form-group">

            <div class="govuk-grid-row govuk-body govuk-!-margin-top-2">
              <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2 class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                   Additional directions</h2>
              </div>
              <div class="govuk-grid-column-two-third-from-desktop govuk-!-display-inline">
                <!-- Buttons -->
                {% include "../../includes/buttons-remove.html" %}

              </div>
            </div>

            <textarea class="govuk-textarea govuk-js-character-count govuk-body govuk-!-margin-top-3" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

        </div>
      </div>

          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
