{% extends "layout.html" %}

{% block pageTitle %}
  Urgent application
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this an urgent application?
              </h1>
              <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3>
            </legend>

            <!-- Radio buttons -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urgent-application-yes" name="urgent-application" type="radio" value="yes" data-aria-controls="conditional-urgent-yes">
                <label class="govuk-label govuk-radios__label" for="urgent-application">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-urgent-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="reviewed-by-date">
                    Enter the date when this application must be reviewed
                  </label>
                  <div class="govuk-date-input" id="reviewed-by">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="reviewed-by-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="reviewed-by-day" name="reviewed-by-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="reviewed-by-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="reviewed-by-month" name="reviewed-by-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="reviewed-by-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="reviewed-by-year" name="reviewed-by-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                  </div>   

                  <!-- Explain why urgent application input text -->
                  <label class="govuk-label govuk-!-margin-top-5" for="reason-urgent">
                    Explain why you are making an urgent application
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>   

                  <!-- Consent checkbox -->
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" value="yes">
                      <label class="govuk-label govuk-checkboxes__label" for="consent">
                        I confirm that I understand and know when to make an urgent application.
                      </label>
                    </div>
                  
                    </div>  
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urgent-application-no" name="urgent-application" type="radio" value="phone" data-aria-controls="conditional-urgent-no">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

          <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Previous
          </button>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>

{% endblock %}
