{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Enter hearing details
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-xl">Enter hearing details</h1>

      <form class="form" action="/damages/default-judgments/5-hearing-details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Choose your preferred type of hearing</h2>
              <div id="decision-preference-hint" class="govuk-hint">
                A judge will still need to approve the hearing
              </div>
            </legend>

            <!-- Radio buttons -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="in-person" name="type-hearing" type="radio" value="In person" data-aria-controls="conditional-in-person">
                <label class="govuk-label govuk-radios__label" for="in-person">
                  In person
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="videoconference" name="type-hearing" type="radio" value="Video conference hearing" data-aria-controls="conditional-videoconference">
                <label class="govuk-label govuk-radios__label" for="videoconference">
                  Video conference hearing
                </label>
              </div>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephone-hearing" name="type-hearing" type="radio" value="Telephone hearing" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="telephone-hearing">
                    Telephone hearing
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Who will set up the telephone hearing?
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="who-set-up" name="who-set-up" type="text" spellcheck="false"></div>
                </div>
            </div>
            </div>
        
              <h2 class="govuk-label-wrapper  govuk-!-margin-top-7"><label class="govuk-label govuk-label--m" for="location">
                Preferred location
                </label>
              </h2>
              <div id="location-hint" class="govuk-hint">
                This is needed if the judge decides to hold the hearing in person.
              </div>
              <select class="govuk-select" id="location" name="location">
                <option value="Select location">Select location</option>
                <option value="London">London</option>
                <option value="Bristol">Bristol</option>
                <option value="Derby">Derby</option>
              </select>
            

            <h2 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--m" for="telephone-number">
              Telephone number
              </label>
            </h2>
            <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="text">
            </div>

            <h2 class="govuk-label-wrapper  govuk-!-margin-top-4"><label class="govuk-label govuk-label--m" for="email-address">
              Email address
              </label>
            </h2>
            <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="email">
            </div>
          </div>

            <!-- Radio buttons -->
              <h2 class="govuk-label-wrapper govuk-!-margin-top-7">
                <label class="govuk-label govuk-label--m" for="hearing-duration">How long do you estimate the hearing will take?</label>
              </h2>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              {% if (data['decisionPreference'] === 'Disposal hearing') %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="30 minutes" name="hearing-duration" type="radio" value="30 minutes" data-aria-controls="30-minutes">
                <label class="govuk-label govuk-radios__label" for="30 minutes">
                  30 minutes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="15-minutes" name="hearing-duration" type="radio" value="15 minutes" data-aria-controls="15-minutes">
                <label class="govuk-label govuk-radios__label" for="15-minutes">
                  15 minutes
                </label>
              </div>
              {% else %}
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="45-minutes" name="hearing-duration" type="radio" value="45 minutes" data-aria-controls="conditional-45-minutes">
                  <label class="govuk-label govuk-radios__label" for="45-minutes">
                    45 minutes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="1-hour" name="hearing-duration" type="radio" value="1 hour" data-aria-controls="conditional-1-hour">
                  <label class="govuk-label govuk-radios__label" for="1-hour">
                    1 hour
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="2-hours" name="hearing-duration" type="radio" value="2 hours" data-aria-controls="conditional-2-hours">
                  <label class="govuk-label govuk-radios__label" for="2-hours">
                    2 hours
                  </label>
                </div>
  
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="other" name="hearing-duration" type="radio" value="Other" data-aria-controls="other-duration">
                    <label class="govuk-label govuk-radios__label" for="other">
                      Other
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-duration">
                    <div class="govuk-form-group">

                      <div class="govuk-date-input" id="other-duration-setup">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="other-duration-days">
                              Days
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-day" name="other-duration-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="other-duration-hours">
                              Hours
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-hours" name="other-duration-hours" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="other-duration-minutes">
                              Minutes
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-minutes" name="other-duration-minutes" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>  
    
                  </div>
              </div>
              </div>
              
              </div> 
          
              {% endif %}
              </div>
              <h2 class="govuk-label-wrapper govuk-!-margin-top-7">
                <label class="govuk-label govuk-label--m" for="hearing-duration">Are there any dates when you cannot attend a hearing within the next 3 months</label>
              </h2>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="exclusion-dates" type="radio" value="Yes" data-aria-controls="conditional-yes">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="date-from">
                      Date from
                    </label>
        
                    <div class="govuk-date-input" id="date-from">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-from-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day" name="date-from-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-from-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month" name="date-from-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-from-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year" name="date-from-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                    </div>  

                    <label class="govuk-label govuk-!-margin-top-7" for="date-to">
                      Date to
                    </label>
        
                    <div class="govuk-date-input" id="date-to">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-to-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day" name="date-to-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-to-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month" name="date-to-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-to-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year" name="date-to-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                    </div>  
                    <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" name="submit-button" value="add-new">Add new</button>
                    </div>
          
                </div>
          
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="exclusion-dates" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
          

          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>

      </div>
      </form>
    </div>
  </div>

{% endblock %}
