{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Enter hearing details
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-xl">Enter hearing details</h1>

      <form class="form" action="/damages/default-judgments/5-hearing-details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Choose your preferred type of hearing</h2>
              <div id="decision-preference-hint" class="govuk-hint">
                A judge will still need to approve the hearing
              </div>
            </legend>

            <!-- Radio buttons -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="in-person" name="type-hearing" type="radio" value="In person" data-aria-controls="conditional-in-person">
                <label class="govuk-label govuk-radios__label" for="in-person">
                  In person
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="videoconference" name="type-hearing" type="radio" value="Video conference hearing" data-aria-controls="conditional-videoconference">
                <label class="govuk-label govuk-radios__label" for="videoconference">
                  Video conference hearing
                </label>
              </div>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephone-hearing" name="type-hearing" type="radio" value="Telephone hearing" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="telephone-hearing">
                    Telephone hearing
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Who will set up the telephone hearing?
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="who-set-up" name="who-set-up" type="text" spellcheck="false"></div>
                </div>
            </div>
            </div>
        
              <h2 class="govuk-label-wrapper  govuk-!-margin-top-7"><label class="govuk-label govuk-label--m" for="location">
                Preferred location
                </label>
              </h2>
              <div id="location-hint" class="govuk-hint">
                This is needed if the judge decides to hold the hearing in person.
              </div>
              <select class="govuk-select" id="location" name="location">
                <option value="Select location">Select location</option>
                <option value="London">London</option>
                <option value="Bristol">Bristol</option>
                <option value="Derby">Derby</option>
              </select>
            

            <h2 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--m" for="telephone-number">
              Telephone number
              </label>
            </h2>
            <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="text">
            </div>

            <h2 class="govuk-label-wrapper  govuk-!-margin-top-4"><label class="govuk-label govuk-label--m" for="email-address">
              Email address
              </label>
            </h2>
            <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="email">
            
          

            <!-- Radio buttons -->
              <h2 class="govuk-label-wrapper govuk-!-margin-top-7">
                <label class="govuk-label govuk-label--m" for="hearing-duration">How long do you estimate the hearing will take?</label>
              </h2>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <!-- Disposal hearing time choices -->
                {% if (data['decisionPreference'] === 'Disposal hearing') %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="30 minutes" name="hearing-duration" type="radio" value="30" data-aria-controls="30-minutes">
                  <label class="govuk-label govuk-radios__label" for="30 minutes">
                    30 minutes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="15-minutes" name="hearing-duration" type="radio" value="15" data-aria-controls="15-minutes">
                  <label class="govuk-label govuk-radios__label" for="15-minutes">
                    15 minutes
                  </label>
                </div>
                
                <!-- Trial time choices -->
                {% else %}               
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="45-minutes" name="hearing-duration" type="radio" value="45" data-aria-controls="conditional-45-minutes">
                  <label class="govuk-label govuk-radios__label" for="45-minutes">
                    45 minutes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="1-hour" name="hearing-duration" type="radio" value="60 hour" data-aria-controls="conditional-1-hour">
                  <label class="govuk-label govuk-radios__label" for="1-hour">
                    1 hour
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="2-hours" name="hearing-duration" type="radio" value="120" data-aria-controls="conditional-2-hours">
                  <label class="govuk-label govuk-radios__label" for="2-hours">
                    2 hours
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other" name="hearing-duration" type="radio" value="Other" data-aria-controls="other-duration">
                  <label class="govuk-label govuk-radios__label" for="other">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-duration">
                  <div class="govuk-form-group">

                    <div class="govuk-date-input" id="other-duration-setup">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="other-duration-days">
                            Days
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-day" name="other-duration-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="other-duration-hours">
                            Hours
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-hours" name="other-duration-hours" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="other-duration-minutes">
                            Minutes
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-duration-minutes" name="other-duration-minutes" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div>
                    </div>  
                  </div>
                </div>
            
                {% endif %}
              </div>

              <!-- Unavailable dates for hearing -->
              <h2 class="govuk-label-wrapper govuk-!-margin-top-7" id="unavailable-dates">
                <label class="govuk-label govuk-label--m" for="exclusion-dates">Are there any dates when you cannot attend a hearing within the next 3 months?</label>
              </h2>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="exclusion-dates" type="radio" value="Yes" data-aria-controls="conditional-yes" {% if (data['unavailable'] === "Yes") %} checked {% endif %}}>
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
                  
                  {% if (data['dateCount'] > 0) %}
                  <label class="govuk-label" for="date-from">
                    Not available on
                  </label>

                  {% for id in data['id']|reverse %}
                  
                    <dl class="govuk-summary-list govuk-!-margin-bottom-4 ">                    
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          {{data['startDate'][id]}} to {{data['endDate'][id]}}
                        </dt>
                        <!-- <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> date range</span>
                          </a>
                        </dd> -->
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Remove<span class="govuk-visually-hidden"> date range</span>
                          </a>
                        </dd>
                      </div>
                    </dl>
                    {% endfor %}
                  

                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Add another date range
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                      
                      {% endif %}

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="date-from">
                        Date from
                      </label>
          
                      <div class="govuk-date-input" id="date-from">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-from-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day" name="date-from-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-from-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month" name="date-from-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-from-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year" name="date-from-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>  

                      <label class="govuk-label govuk-!-margin-top-6" for="date-to">
                        Date to
                      </label>
          
                      <div class="govuk-date-input" id="date-to">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-to-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day" name="date-to-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-to-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month" name="date-to-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-to-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year" name="date-to-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>


                      <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" name="submit-button" value="add">Add</button>
                      </div>
                    {% if (data['dateCount'] > 0) %}
                    </div>
                  </details>
                  {% endif %}
                  </div>
          
                </div>
          
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="exclusion-dates" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
                <!-- End of unavailable dates -->

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                      <h2 class="govuk-heading-m govuk-!-margin-top-7">
                        Hearing support requirements (optional)
                      </h2>
                    <div id="waste-hint" class="govuk-hint">
                      Select any support you, your client and any experts or witnesses you would require for a court hearing.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="disabled-access" name="hearing-support-requirements" type="checkbox" value="disabled-access">
                        <label class="govuk-label govuk-checkboxes__label" for="disabled-access">
                          Disabled access
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="hearing-loop" name="hearing-support-requirements" type="checkbox" value="hearing-loop">
                        <label class="govuk-label govuk-checkboxes__label" for="hearing-loop">
                          Hearing loop
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="sign-languague-interpreter" name="hearing-support-requirements" type="checkbox" value="sign-languague-interpreter">
                        <label class="govuk-label govuk-checkboxes__label" for="sign-languague-interpreter">
                          Sign language interpreter
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="languague-interpreter" name="hearing-support-requirements" type="checkbox" value="languague-interpreter">
                        <label class="govuk-label govuk-checkboxes__label" for="languague-interpreter">
                          Language interpreter
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="other-support" name="hearing-support-requirements" type="checkbox" value="other-support">
                        <label class="govuk-label govuk-checkboxes__label" for="other-support">
                          Other support
                        </label>
                      </div>
                    </div>
                
                  </fieldset>
                </div>
          </fieldset>

          <div>&nbsp;</div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

              

      
      </form>
    </div>
  </div>

{% endblock %}
