{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Judgment amount
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/damages/default-judgments/5-judgment-amount" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">
                Judgment amount
              </h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>
            <p class="govuk-body">The judgment will order the Defendant to pay £{{data['displaySubtotal']}}, including the claim fee and interest, if applicable, as shown:</p>
            
            <p class="govuk-body govuk-!-margin-bottom-1">Claim amount</p>
            <p class="govuk-body govuk-!-margin-top-0">£{{data['displayAmount']}}</p>

            <p class="govuk-body govuk-!-margin-bottom-1">Claim fee amount</p>
            <p class="govuk-body govuk-!-margin-top-0">£{{data['displayFee']}}</p>

            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Subtotal</p>
            <p class="govuk-body govuk-!-margin-top-0">£{{data['displaySubtotal']}}</p>

            <p class="govuk-body govuk-!-margin-bottom-1">Amount already paid</p>
            <p class="govuk-body govuk-!-margin-top-0">£{{data['displayAmountPaid']}}</p>
            

            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Total still owed</p>
            <p class="govuk-body govuk-!-margin-top-0">£{{data['displayTotalOwed']}}</p>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
    </div>
  </div>

{% endblock %}
