{% extends "layout.html" %}

{% block pageTitle %}
  Choose outcome of application
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Draw a General Order
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/judge-journey/make-order" method="post">

        <div class="govuk-form-group">

            

          <div class="govuk-form-group">
              <label class="govuk-label" for="judge-recital">
                Judge's recital
              </label>
            <textarea class="govuk-textarea" id="judge-recital" name="judge-recital" rows="5" aria-describedby="more-detail-hint">Upon the application of [party] dated [date] and upon considering the information provided by the parties</textarea>
          </div>

          <ul class="govuk-list govuk-list--bullet">
            <li>The respondent may upload any written representations by 4pm on [entered date]</li>
            <li>Once the respondent has uploaded written representations, the applicant must respond within [entered date]</li>
          </ul>
          

            <div class="govuk-form-group">
              <label class="govuk-label" for="directions">
                Directions in relation to hearing
                </label>

              <textarea class="govuk-textarea" id="directions" name="directions" rows="10" aria-describedby="more-detail-hint">A person who was not notified of the application before this order was made may apply to have the order set aside or varied. Any application under this paragraph must be made within 7 days after notification of the order.
              </textarea>
            </div>








        {% include "../../../includes/buttons.html" %}

      </form>

    </div>
  </div>

{% endblock %}
