{% extends "layout.html" %}

{% block pageTitle %}
  Choose outcome of application
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Draw a General Order
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/judge-journey/make-order" method="post">

        <div class="govuk-form-group">

            <div class="govuk-form-group">
              <label class="govuk-label" for="judge-recital">
                Judge's recital
              </label>


            <textarea class="govuk-textarea" id="judge-recital" name="judge-recital" rows="5" aria-describedby="more-detail-hint">Upon the application of [party] dated [date] and upon considering the information provided by the parties</textarea>



          </div>

          <ul class="govuk-list govuk-list--bullet">
            <li>The hearing will be in person at Nottingham County Court.</li>
            <li>The estimated length of the hearing is 15 minutes.</li>
            <li>Formal notice of the hearing date will be forwarded.</li>
          </ul>
            

          

        
            <div class="govuk-form-group">
              <label class="govuk-label" for="more-detail">
                Directions in relation to hearing
                </label>

              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
            </div>

        </div>



        {% include "../../../includes/buttons.html" %}

      </form>

    </div>
  </div>

{% endblock %}
