{% extends "layout.html" %}

{% block pageTitle %}
  Choose outcome of application
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        List for a hearing
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/judge-journey/draw-general-order" method="post">
        {% include "includes/hearing-details-judges/hearing-type.html" %}
        {% include "includes/hearing-details-judges/hearing-estimate.html" %}
        {% include "includes/hearing-details-judges/hearing-support.html" %}
        {% include "includes/hearing-details-judges/hearing-additional.html" %}
        {% include "../../../includes/buttons.html" %}

      </form>

    </div>
  </div>

{% endblock %}
