{% extends "layout.html" %}

{% block pageTitle %}
  Decision on application
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-caption-m">#1522-0584-2506-7027</h1>
      <h1 class="govuk-heading-l">Decision on application</h1>


      <form class="form" form action="/ocmc/general-applications/judge-journey/initial-decision" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-m">
                What is your decision on this application?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-decision-make-order" name="application-decision" type="radio" value="make-order">
                <label class="govuk-label govuk-radios__label" for="application-decision-make-order">
                  Make an order
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-decision-request-more-information" name="application-decision" type="radio" value="request-more-information">
                <label class="govuk-label govuk-radios__label" for="application-decision-request-more-information">
                  Request more information
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-decision-list-hearing" name="application-decision" type="radio" value="list-hearing">
                <label class="govuk-label govuk-radios__label" for="application-decision-list-hearing">
                  List for a hearing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application-decision-make-directions" name="application-decision" type="radio" value="make-directions">
                <label class="govuk-label govuk-radios__label" for="application-decision-make-directions">
                  Make an order for written representations
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        
          <a class="govuk-link" href="#">Cancel</a>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
