{% extends "layout.html" %}

{% block pageTitle %}
  Notification sent
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-caption-m">#1522-0584-2506-7027</h1>
      <h1 class="govuk-heading-l">Notification sent</h1>


      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                You have requested more information
              </h1>
              <div class="govuk-panel__body">
                Reference number<br><strong>HDJ2123F</strong>
              </div>
            </div>        

            <p>
              The parties will be notified. They will need to provide a response within (X) days.
            </p>            <p>
              <a href="#">Return to case overview</a>
            </p>







          </fieldset>
        </div>





      </form>

    </div>
  </div>

{% endblock %}
