{% extends "layout.html" %}

{% block pageTitle %}
  Notification sent
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Notification sent
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                You have requested a response
              </h1>
              <!-- <div class="govuk-panel__body">
                Reference number<br><strong>HDJ2123F</strong>
              </div> -->
            </div>        

            <p>
              The parties will be notified. They will need to provide a response by [entered date].
            </p>            <p>
              <a href="#">Return to case overview</a>
            </p>







          </fieldset>
        </div>





      </form>

    </div>
  </div>

{% endblock %}
