{% extends "layout.html" %}

{% block pageTitle %}
  Preview order document
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Preview order document
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>


      <form class="form" action="/ocmc/general-applications/judge-journey/preview" method="post" novalidate>

        <div class="govuk-form-group">
          <h3 class="govuk-label govuk-label--s">Open order document</h3>
            <p>
              <a href="#">generalOrder_Judge_DATE.pdf (Opens in a new tab)</a>
            </p>
        </div>



        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button " name="submit-button" value="previous">
            Previous
          </button>
        
          <button class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
            Submit
          </button>
        </div>
        
        <a class="govuk-link" href="/index.html">Cancel</a>

      </form>

    </div>
  </div>

{% endblock %}
