{% extends "layout.html" %}

{% block pageTitle %}
  Choose outcome of application
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Make an order for written representations
        <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold claim-number-title">#1344-0992-2231-9776</span>
      </h1>



      <form class="form" action="/ocmc/general-applications/judge-journey/draw-general-order-representation" method="post">



            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="disclosure-hint">

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sequential-disclosure" name="disclosure-type" type="radio" value="sequential-disclosure" data-aria-controls="conditional-sequential-disclosure"">
                    <label class="govuk-label govuk-radios__label" for="sequential-disclosure">
                      Sequential representations
                    </label>
                  </div>


                    



                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sequential-disclosure">
                     
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group">
                          <legend class="govuk-fieldset__legend">
                            The respondent may upload any written representations by 4pm on
                          </legend>
                          <div class="govuk-date-input" id="sequential-rep-upload">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="sequential-rep-upload-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sequential-rep-upload-day" name="sequential-rep-upload-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="sequential-rep-upload-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sequential-rep-upload-month" name="sequential-rep-upload-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="sequential-rep-upload-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sequential-rep-upload-year" name="sequential-rep-upload-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                          </div>
                      
                        </fieldset>
                      </div>

                      <div class="govuk-form-group govuk-body">
                        <label class="govuk-label" for="respond-within">
                          Once the respondent has uploaded written representations, the applicant must respond within
                        </label>
                        <input class="govuk-input govuk-input--width-3" id="respond-within" name="respond-within" type="text"> day(s)
                      </div>

                    </div>








                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="concurrent-disclosure" name="disclosure-type" type="radio" value="concurrent-disclosure" data-aria-controls="conditional-concurrent-disclosure">
                    <label class="govuk-label govuk-radios__label" for="concurrent-disclosure">
                      Concurrent representations
                    </label>
                  </div>


                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-concurrent-disclosure">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend">
                          Any written representations and any further witness statements may be uploaded by 4pm on
                        </legend>
                        <div class="govuk-date-input" id="concurrent-rep-upload">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="concurrent-rep-upload-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="concurrent-rep-upload-day" name="concurrent-rep-upload-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="concurrent-rep-upload-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="concurrent-rep-upload-month" name="concurrent-rep-upload-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="concurrent-rep-upload-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="concurrent-rep-upload-year" name="concurrent-rep-upload-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>
                    
                      </fieldset>
                    </div>
                  </div>



                  

                </div>



              </fieldset>
            </div>



            {% include "../../../includes/buttons.html" %}

      </form>

    </div>
  </div>

{% endblock %}
