{% extends "layout.html" %}

{% block pageTitle %}
  Preview order document
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase-banner.html" %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">#1522-0584-2506-7027</span>
      <h1 class="govuk-heading-l">Preview directions order</h1>


      <form class="form" action="/ocmc/default-judgments/judge-journey/confirmation-order-issued-disposal-hearing" method="post" novalidate>

        <div class="govuk-form-group">
            <h3 class="govuk-label govuk-label--s">Open directions order</h3>
            <p>
              <a href="#">Order_issued.pdf (Opens in a new tab)</a>
            </p>







        </div>



        <div class="govuk-button-group">

          
          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>
          <a class="govuk-link" href="#">Cancel</a>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
