{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Payments made
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/default-judgments/4-payments-made" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading">
                {% if (data['defendant'] === 'Both defendants') %}
                  Have the defendants paid some of the amount owed?
                {% else %}
                  Has {{data['defendant']}} paid some of the amount owed?
                {% endif %}
              </h1>
            </legend>

            <!-- Radio buttons -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-made-yes" name="payment-made" type="radio" value="Yes" data-aria-controls="conditional-paid-yes">
                <label class="govuk-label govuk-radios__label" for="payment-made">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-paid-yes">
                  <div class="govuk-form-group">
                    <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="claimAmountPaid">
                        Amount already paid
                      </label>
                    </h3>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="claimAmountPaid" name="claimAmountPaid" type="number" spellcheck="false">
                    </div>
                  </div>
                </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-made-no" name="payment-made" type="radio" value="No" data-aria-controls="conditional-paid-no">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>

      </div>
      </form>
    </div>
  </div>

{% endblock %}
