{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Request default judgment eligibility check
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/ocmc/default-judgments/4-payments-made" method="post">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <span class="govuk-caption-m">#1522-0584-2506-7027</span>
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                You cannot request default judgment
              </h1>
              <!-- <h3 class="govuk-heading-s govuk-!-margin-top-2">#1522-0584-2506-7027</h3> -->
            </legend>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  When can I request default judgment?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>You can request default judgment if you are claiming for fixed costs that you have already requested. To claim for any other cost, you'll need to <a href="3-request-judgment-statements.html">make an application</a></p>


              </div>
            </details>

            <p><a href="/index.html" class="govuk-link govuk-link--no-visited-state">Return to case overview</a></p>

      </div>
      </form>
    </div>
  </div>

{% endblock %}
