{% extends "layout-manage-cases.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Default judgment requested</h1>
        <div class="govuk-panel__body">
          Case number<br><strong>#1522-0584-2506-7027</strong>
        </div>
      </div>

      <p>
        Copy to be reviewed. There's a note about it on Miro. 
      </p>

      <!-- <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Hackney Electoral Register Office.</p>
      <p>They will contact you either to confirm your registration, or to ask for more information.</p> -->
      <p><a href="/index.html">Return to case overview</a></p>


    </div>
  </div>

{% endblock %}
