
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Civil prototype
      </h1>

      <h2 class="govuk-heading-l">Money Claims (OCMC)</h2>

      <h3 class="govuk-heading-m">Default judgments</h3>
      <p><a href="ocmc/default-judgments/2-defendant" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

      <h3 class="govuk-heading-s">Default judgments (Damages)</h3>
      <p><a href="damages/default-judgments/2-defendant" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

      <h4 class="govuk-heading-s">Judge decision</h4>
      <p><a href="/ocmc/default-judgments/judge-journey/initial-decision" class="govuk-link govuk-link--no-visited-state">Current version</a> (In progress)</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>


      <h3 class="govuk-heading-m">Standard directions orders</h3>
      <p><a href="ocmc/standard-directions-orders/1-track" class="govuk-link govuk-link--no-visited-state">Current version</a> (in progress)</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

      <h3 class="govuk-heading-m">General applications</h3>
      <h4 class="govuk-heading-s">Application submission</h4>
      <p><a href="ocmc/general-applications/application-submission/1-application" class="govuk-link govuk-link--no-visited-state">Current version</a> (in progress)</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

      <h4 class="govuk-heading-s">Response</h4>
      <p><a href="/ocmc/general-applications/Responce-journey/1-respond" class="govuk-link govuk-link--no-visited-state">Current version</a> (in progress)</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

      <h4 class="govuk-heading-s">Judge decision</h4>
      <p><a href="ocmc/general-applications/judge-journey/initial-decision" class="govuk-link govuk-link--no-visited-state">Current version</a> (coming soon)</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
