
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Civil prototypes
      </h1>

      <h2 class="govuk-heading-l">Money Claims (OCMC)</h2>
      <h3 class="govuk-heading-m">Default judgments</h3>
      <p><a href="ocmc/default-judgments/2-defendant" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>
      

      <h2 class="govuk-heading-l">Damages</h2>
      <h3 class="govuk-heading-m">Default judgments</h3>
      <p><a href="damages/default-judgments/2-defendant" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
        </div>
      </details>
      
      
    
    </div>
  </div>

{% endblock %}
