
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Citizen UI
      </h1>

      <h3 class="govuk-heading-m">Citizen UI 2022 updates</h3>
      <p><a href="index-citizen-UI" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="https://hmcts-cmc-prototype.herokuapp.com/" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; January 2021</p>
        </div>
      </details>

      <h3 class="govuk-heading-s">Document upload</h3>
      <p><a href="/citizen-UI/prototypes/document-upload/fast-track/upload-fast-track" class="govuk-link govuk-link--no-visited-state">Fast track</a></p>
      <p><a href="/citizen-UI/prototypes/document-upload/small-claims/upload-small-claims" class="govuk-link govuk-link--no-visited-state">Small claims</a></p>






        <h2 class="govuk-heading-l">User Testing</h2>


      <p><a href="/citizen-UI/prototypes/prototype-May-2022/defendent/task-list/task-list-fast-track" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/citizen-UI/prototypes/prototype-May-2022/defendent/task-list/task-list-fast-track" class="govuk-link govuk-link--no-visited-state">Fast track user test</a> &ndash; May 2022</p>
          <p><a href="/citizen-UI/prototypes/prototype-May-2022/defendent/task-list/task-list-fast-track" class="govuk-link govuk-link--no-visited-state">More time user test</a> &ndash; May 2022</p>
        </div>
      </details>

      




    </div>
  </div>

{% endblock %}
