{% extends "layout.html" %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div style="padding-top: 10px;" class="govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          
          <span style="font-size:30px;"class="govuk-header__logotype-text">
        MyHMCTS
          </span>
            
      
        </span>
        
      </a>
    
    </div>
    <a style=" color:white; text-decoration: none; margin-bottom: 10px; font-size: 19px; font-weight: bold;" href="/">
    
      Manage cases
         
       </a>
       <a style="color:white; float: right;" href="">
       
         Sign out
            
          </a>
  </div>
  <div class="govuk-width-container hmcts-primary-navigation__nav">
  
    <nav  aria-label="Primary navigation" class="hmcts-primary-navigation transparent-background">
      <ul class="hmcts-primary-navigation__list">
        <!---->
        <li class="hmcts-primary-navigation__item"><a class="hmcts-primary-navigation__link" aria-current="true"
            href="/legal-rep-journey-v4/case-list">Case list</a></li>
        <li class="hmcts-primary-navigation__item"><a class="hmcts-primary-navigation__link" 
            href="/legal-rep-journey-v4/claimant/create-case?claimant=true&defendant=false">Create case</a></li>
        <li class="hmcts-primary-navigation__item"><a class="hmcts-primary-navigation__link" href="">Notice of
            change</a></li>
            <li style="margin-right:0px;" class="hmcts-primary-navigation__item hmcts-primary-navigation__search"><a class="hmcts-search-toggle__button hmcts-primary-navigation__link transparent-background"  href="">Find case</a></li>
      </ul>
   
      
    </nav>
   
  </div>
 
</header>
<!-- <div style="padding-top:0px;" class="govuk-width-container govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange "> PROTOTYPE
    </strong><span class="govuk-phase-banner__text"> This is for design and user testing  </span></p>
</div> -->

  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}
{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}
{% block header %}    {% include "includes/scripts.html" %}{% endblock %}
{% if useAutoStoreData %}
  {% block footer %}

    {{ 
      
      govukFooter ({
   
    })
  
  
  }}
  <div class="govuk-grid-row">
    <form style="background-color: #dee0e2;" method="post" action="#" class="govuk-grid-column-full">
      <br>
     <a style=" margin-left:1%;" class="govuk-button govuk-button--warning" href="/prototype-admin/clear-data">Clear data</a>
    </form>
    
    </div>
  {% endblock %}
  
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}