<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
            How long do you estimate the hearing will take?
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-1" name="hearing-estimate" type="radio" value="15 minutes">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-1">
            15 minutes
          </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-2" name="hearing-estimate" type="radio" value="30 minutes">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-2">
            30 minutes
          </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-3" name="hearing-estimate" type="radio" value="45 minutes">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-3">
            45 minutes
          </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-4" name="hearing-estimate" type="radio" value="1 hour">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-4">
            1 hour
          </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-5" name="hearing-estimate" type="radio" value="2 hours">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-5">
              2 hours
            </label>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hearing-estimate-6" name="hearing-estimate" type="radio" value="Other" data-aria-controls="conditional-estimate-6">
                <label class="govuk-label govuk-radios__label" for="hearing-estimate-6">
                    Other
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-estimate-6">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <div class="govuk-date-input" id="hearing-estimate-time">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="hearing-estimate-time-day">
                                        Day(s)
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-estimate-time-day" name="hearing-estimate-time-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                 </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="hearing-estimate-time-hour">
                                        Hour(s)
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-estimate-time-hour" name="hearing-estimate-time-hour" type="text" pattern="[0-9]*" inputmode="numeric">
                                 </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="hearing-estimate-time-min">
                                        Minute(s)
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-estimate-time-min" name="hearing-estimate-time-min" type="text" pattern="[0-9]*" inputmode="numeric">
                                 </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
</div>