<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        Is your case reserved to a judge?
      </legend>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hd-reserved-judge-yes" name="hd-reserved-judge" type="radio" value="Yes" data-aria-controls="conditional-hd-reserved-judge-yes">
          <label class="govuk-label govuk-radios__label" for="hd-reserved-judge-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hd-reserved-judge-yes">


          <!-- start -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="judge-name">
              Judge name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="judge-name" name="judge-name">
          </div>
  
          
          <!-- end -->



        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hd-reserved-judge-no" name="hd-reserved-judge" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="hd-reserved-judge-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>